<h1>Lista</h1>
  <div class="song-list-container">
    <div class="song-card-item" *ngFor="let song of songs">
      <div class="song-item-name">
        <span class="is-large title">{{song.name}}</span>
      </div>
      <div class="song-item-artist">
        <span class="capitalize">{{ song.artist || '-' }}</span>
      </div>
      <div class="song-item-key">
        <span class="capitalize"><i class="fas fa-music"></i> {{ song.key || '-'}}</span>
      </div>
      <div class="song-item-links">
        <a href="{{song.songUrl}}" class="button icon-button light" target="_blank">
          <span class="icon is-medium">
            <i class="fas fa-play"></i>
          </span>
        </a>
        <a href="{{song.chordsUrl}}" class="button icon-button light" target="_blank">
          <span class="icon is-medium">
            <i class="fas fa-book-open"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
