<div class="container-wrap">
  <div class="song-list-container">
    <h1 class="title text-light">Músicas</h1>
    <div class="song-card-item" *ngFor="let song of songs">
      <div class="song-item-name">
        <span class="text-light">{{song.name}}</span>
      </div>
      <div class="song-item-artist">
        <span class="capitalize text-medium-black">{{ song.artist || '-' }}</span>
      </div>
      <div class="song-item-key">
        <span><i class="fas fa-music"></i> {{ song.key || '-'}}</span>
      </div>
      <div class="song-item-links">
        <a href="{{song.songUrl}}" class="button icon-button light" target="_blank">
          <span class="icon is-medium">
            <i class="fas fa-play"></i>
          </span>
        </a>
        <a href="{{song.chordsUrl}}" class="button icon-button light" target="_blank">
          <span class="icon is-medium">
            <i class="fas fa-book-open"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="loading" style="margin-top: 24px;" *ngIf="!songs">
      <span class="text-light is-medium">Carregando...</span>
      <progress class="progress is-small is-grey" max="100">15%</progress>
    </div>
  </div>
</div>
