<h1>Lista</h1>
<div class="columns">
  <div class="song-list-container column">
    <div class="song-list-item" *ngFor="let song of lista">
      <div class="song-item-name">
        <span>{{song.name}}</span>
      </div>
      <div class="song-item-key">
        Tom: <span>{{song.key}}</span>
      </div>
      <div class="song-item-links">
        <button class="button">
          <span class="icon is-small">
            <i class="fas fa-bold"></i>
          </span>
        </button>
        <button class="button">
          <span class="icon is-small">
            <i class="fas fa-bold"></i>
          </span>
        </button>
        <button class="button">
          <span class="icon is-small">
            <i class="fas fa-bold"></i>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
