* {
  font-size: 16px;
}

html,
body {
  height: 100%;
  overflow: hidden;
}

html {
  background: #4a4a4a;
  overflow: hidden;
}

.title {
  color: #222;
  text-transform: capitalize;
}

.capitalize {
  text-transform: capitalize;
}

.icon-button {
  border: none;
}

.icon-button:focus {
  outline: none;
}

.text-light {
  color: #f2f2f2;
}

.text-light-dark {
  color: #666666;
}

.text-medium-black {
  color: #c6c6c6;
}

.text-dark-black {
  color: #222;
}
